body {
  background-color: #f4f4f4;
}
.dock-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
}
