.wall-paper {
  position: relative;
}
.wall-paper img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.lock-screen__content {
  position: absolute;
  z-index: 1;
}
.info-text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  top: 100px;
  font-size: 20px;
}
@keyframes unlockScreen {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.info-text a:hover {
  will-change: transform;
  animation: unlockScreen 1s linear infinite;
}
.info-text a {
  margin-right: 8px;
}
.time-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 150px;
  color: white;
}
.time-date span:first-child {
  font-size: 110px;
  font-weight: lighter;
  margin-bottom: 20px;
}
.time-date span:last-child {
  font-size: 26px;
}
.shortcut-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  bottom: 50px;
  font-size: 20px;
  padding: 0px 70px;
  box-sizing: border-box;
}
.shortcut-btn__bg {
  background-color: rgba(0, 0, 0, 0.3);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  text-align: center;
}
.shortcut-btn__bg i {
  margin-top: 24px;
}
