.app-icon {
  width: 100px;
  height: 100px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.app-music {
  background-color: #fa2e46;
  color: white;
  font-size: 40px;
}
