.app-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-icon button {
  width: 85px;
  height: 85px;
  border-radius: 24px;
  border: none;
}
.app-icon span {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}
.app-music {
  background-color: #fa2e46;
  color: white;
  font-size: 40px;
}
