.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 15px;
  font-size: 18px;
}
.status-bar__white {
  color: white;
}
.status-bar__lock {
  position: absolute;
  top: 0;
  z-index: 1;
}
.status-bar__column {
  display: flex;
  justify-content: space-between;
}
.status-bar__column:first-child span {
  margin-left: 25px;
  font-weight: 500;
}
.status-bar__column:last-child i {
  margin-left: 10px;
}
